<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </div>
     
                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Nicolas Pillot (<a href="http://www.google.com/recaptcha/mailhide/d?k=01rQtu2jPWpw65iVrzH7ZGOg==&amp;c=7I7GsqIL4cY4bL_uVM-p2o1531gg5km8stT2_p4llAc=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501rQtu2jPWpw65iVrzH7ZGOg\75\75\46c\0757I7GsqIL4cY4bL_uVM-p2o1531gg5km8stT2_p4llAc\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">email</a>)
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
